.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  justify-content: flex-end;
  height: 100%;
  position: relative;

  .round-info {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .spaceship-image {
    height: 300px;
  }

  .player-name {
    font-size: 32px;
    color: white;
    text-align: center;
    line-height: 70px;
  }
}


